.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formControl label {
    margin-bottom: .6em;
    font-weight: bold;
}

.formControl select {
    padding: .7em;
    border-radius: .5em;
    border: none;
    background-color: var(--blue);
    opacity: .75;
    color: var(--white);
}

.formControl input::placeholder {
    color: var(--grey);
}